

.register-form {
  margin-top: 80px;
  height: 500px;
  display: grid;
  place-items: center;
  background-color:  #B8B8B8;


  &__container {
    display: grid;
    place-items: center;
  }

  &__item{
    display: grid;
    place-items: center;
    margin-top: 15px;
  }

  &__error-message{
    color: red;
    display: flex;
    align-items: center;
  }

  &__button{
    display: grid;
    place-items: center;
  }
}

.register-form__error-container{

  display: flex;
  align-items: center;
  justify-content: center;

  &__error-message{
    color: red;
  }

}
