
<div class="drink_detail">

  <div class="back_button">
    <button mat-stroked-button routerLink="../../">Back</button>
  </div>

  <div class="drink_detail__container">
    <div class="drink_detail__card" *ngFor="let drink of drinkItems">
      <div class="drink_detail__card-title">
        <h1>{{drink.strDrink}}</h1>
      </div>
      <p>Drink ID: {{drink.idDrink}}</p>
      <p>Category: {{drink.strCategory}}</p>
      <p>Type: {{drink.strAlcoholic}}</p>
      <div class="drink_detail__card-title"><h2>Ingredientes:</h2> </div>
        <p *ngIf="drink.strIngredient1 !== null">{{drink.strIngredient1}}</p>
        <p *ngIf="drink.strIngredient2 !== null">{{drink.strIngredient2}}</p>
        <p *ngIf="drink.strIngredient3 !== null">{{drink.strIngredient3}}</p>
        <p *ngIf="drink.strIngredient4 !== null">{{drink.strIngredient4}}</p>
        <p *ngIf="drink.strIngredient5 !== null">{{drink.strIngredient5}}</p>
        <p *ngIf="drink.strIngredient6 !== null">{{drink.strIngredient6}}</p>
        <p *ngIf="drink.strIngredient7 !== null">{{drink.strIngredient7}}</p>
        <p *ngIf="drink.strIngredient8 !== null">{{drink.strIngredient8}}</p>
        <p *ngIf="drink.strIngredient9 !== null">{{drink.strIngredient9}}</p>
        <p *ngIf="drink.strIngredient10 !== null">{{drink.strIngredient10}}</p>
        <p *ngIf="drink.strIngredient11 !== null">{{drink.strIngredient11}}</p>
        <p *ngIf="drink.strIngredient12 !== null">{{drink.strIngredient12}}</p>
        <p *ngIf="drink.strIngredient13 !== null">{{drink.strIngredient13}}</p>
        <p *ngIf="drink.strIngredient14 !== null">{{drink.strIngredient14}}</p>
        <p *ngIf="drink.strIngredient15 !== null">{{drink.strIngredient15}}</p>
      <img class="drink_detail__card-image" [src]="drink.strDrinkThumb" alt="drink image">
      <div class="drink_detail__card-title">
        <h2>Recipe:</h2>
      </div>
      <p>{{drink.strInstructions}}</p>
    </div>
  </div>

</div>
