<div class="about">

<accordion [isAnimated]="true" class="accordion-section">
  <accordion-group class="accordion-section" heading="About Company">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi id, pariatur nisi odit voluptas impedit repellat possimus quod accusamus
    vero facere ullam perspiciatis adipisci quo consequatur fugit deserunt molestiae! Assumenda.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi id, pariatur nisi odit voluptas impedit repellat possimus quod accusamus
      vero facere ullam perspiciatis adipisci quo consequatur fugit deserunt molestiae! Assumenda.</p>
  </accordion-group>
  <accordion-group class="accordion-section" heading="About Me">
    <img class="contact-photo" src="../../../assets/_DSF5406.jpg" alt="photo">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi id, pariatur nisi odit voluptas impedit repellat possimus quod accusamus
      vero facere ullam perspiciatis adipisci quo consequatur fugit deserunt molestiae! Assumenda.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi id, pariatur nisi odit voluptas impedit repellat possimus quod accusamus
        vero facere ullam perspiciatis adipisci quo consequatur fugit deserunt molestiae! Assumenda.</p>
  </accordion-group>
</accordion>


<router-outlet>
  <div class="back-button">
      <button mat-raised-button	color="accent" routerLink="contact">Contact</button>
  </div>
</router-outlet>

</div>


