.about{
  margin-top: 50px;
  display: flex;
  flex-direction: column;

}

.contact-photo{
  width: 300px;
}

.accordion-section{
  text-align: center;

}

.back-button{
  margin-top: 50px;
  text-align: center;
}

.contact-photo{
  border:solid 1pt black;
}


