:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.back-button__container{
  display: flex;
  justify-content: center;
}

.back-button{
  margin-top: 25px;
}



.contact-page{
  width:100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: #B8B8B8	 ;
}


.contact-form{
  margin-top: 50px;
  display:flex;
  flex-direction: column;
  align-items:center;
}

.form{
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  &-group{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__submit{
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}


.error{
  color: red;
}


